* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
    }
    body{
        width: 970px;
        height: 400px;
        background-color: navy;
    }
    h1, h2, p{
        font-family: 'Times New Roman', Times, serif;
        
        font-weight: 700;
    }
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 18px;
    }
   #top-navbar{
       color: white;    
       background-color: red;
       width: 930px;
       height: 60px;
       border-radius: 10px;
       margin: 20px;
   }
   ul {
       width: 250px;
       height: 300px;
       background-color: teal;
       margin: 20px;
       border-radius: 10px;
       color: white;
       display: inline-block;
   }

   #para-container{
       top:0;
       background-color: rgb(17, 0, 48);
       width: 610px;
       height: 100%;
       margin-right: 40px;
       border-radius: 10px;
       display: inline-block;
       color: white;
       padding: 10px;

   }
   p{
       font-weight: 300;
       font-size: 16px;
   }
   .contain-text{
       padding: 10px;
   }
   #bottom-bar{
    color: white;    
    background-color: rgb(82, 82, 82);
    width: 930px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 20px;
   }